
<% provide(:title, 'Select Fitness Center') %>
<h1>Select Fitness Center</h1>

<h3>Select a fitness center from the dropdown menu below:</h3>

<div class="row">
    <div class="span6 offset3">
        <% if false%>
        <%= form_for :gym, url: "/gyms/new", method: "post" do |f| %>
            <%= f.label :name %></br>
             <% gyms = Gym.all.map {|gym| [gym.name, gym.id] }%>
             <%= f.select(:name, gyms) %> <br>
        <% end %>
        <% end %>
    </div>
</div>

<h3>Or, click the following button to search for and add your gym</h3>
<%= link_to "Add Fitness Center", add_path, class: "btn btn-large btn-primary" %>