<h1>Manage Fitness Centers</h1>
<%= link_to "Add Fitness Center", new_gym_path, class: "btn btn-large btn-primary" %>
<%= link_to "Edit Fitness Center", gym_path, class: "btn btn-large btn-primary" %>
<%= link_to "Delete Fitness Centers", gym_path, class: "btn btn-large btn-primary" %>

