<div class="center hero-unit">
<% provide(:title, 'Home') %>
	<h1>Gym Buddy App</h1>
	<h2>
  		This is the home page for the Gym Buddy App
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("k8601089.jpg", alt: "Gym Buddy App") %>
