<div class="center hero-unit">
<% provide(:title, 'Home') %>
	<h1>Gym Buddy App</h1>
	<h2>
  		Get started today, and find </br>
  		potential workout partners at your gym! 
	</h2></br>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></br></br>

	<div class ="partners1">
	<%= link_to image_tag("k8601089.jpg", alt: "Gym Buddy App") %>
	<%= link_to image_tag("k8601089.jpg", alt: "Gym Buddy App") %>
	</div>

</div>

