<footer class="footer">
  <small>
    The Gym App was created in February of 2014 by Amy Weiner
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>